In [1]:
length_profit = {
    'query': "select vessel.length, voyage.voyage_profit, type.type, flag.flag from core_voyage as voyage "
             "inner join core_vessel as vessel on voyage.mmsi_id = vessel.mmsi "
             "inner join core_vesseltype as type on type.id = vessel.type_id "
             "inner join core_vesselflag as flag on flag.id = vessel.flag_id",
    'column_names': ["length", "profit", "type", "flag"]
}

In [2]:
type_flag = {
    'query': "select c.type, b.flag from core_vessel as a "
             "inner join core_vesselflag as b on a.flag_id = b.id "
             "inner join core_vesseltype as c on a.type_id = c.id",
    'column_names': ["type", "flag"]
}

In [3]:
dwt_fuel = {
    'query': "select vessel.dwt, voyage.fuel_costs, type.type from core_voyage as voyage "
             "inner join core_vessel as vessel on voyage.mmsi_id = vessel.mmsi "
             "inner join core_vesseltype as type on type.id = vessel.type_id",
    'column_names': ["dwt", "fuel_costs", "type"]
}

In [4]:
grt_month = {
    'query': "select vessel.grt, date.month from core_voyage as voyage "
             "inner join core_vessel as vessel on voyage.mmsi_id = vessel.mmsi "
             "inner join core_date as date on voyage.arrival_date_id = date.id",
    'column_names': ["grt", "month"]
}

In [5]:
profit_hour = {
    'query': "select voyage.voyage_profit, date.hour from core_voyage as voyage "
             "inner join core_date as date on voyage.arrival_date_id = date.id",
    'column_names': ["profit", "hour"]
}

In [6]:
costs_hour = {
    'query': "select voyage.total_costs, date.hour from core_voyage as voyage "
             "inner join core_date as date on voyage.arrival_date_id = date.id",
    'column_names': ["costs", "hour"]
}

In [7]:
duration_ = {
    'query': "select voyage.total_costs, date.hour from core_voyage as voyage "
             "inner join core_date as date on voyage.arrival_date_id = date.id",
    'column_names': ["costs", "hour"]
}